body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.scenery {
    width: 100vw;
    height: 100vh;
}

.car {
    width: 15vh;
    height: 80%;
    background: red;
    left: -15vh;
    border-radius: 40% 70% 20% 20%;
    position: relative;
    animation: car-movement 2s linear infinite;
    animation-delay: unset;
}

.wheel {
    position: absolute;
    bottom: -10px;
    background: black;
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.wheel1 {
    left: 10px
}

.wheel2 {
    right: 10px;
}

.window {
    position: absolute;
    background: aqua;
    border-radius: 40% 90% 20% 20%;
    right: 5%;
    top: 5%;
    width: 40%;
    height: 40%;
}

.sky {
    width: 100vw;
    height: 40vh;
    background: darkturquoise;
}

.road {
    width: 100vw;
    height: 15vh;
    background: gray;
}

.grass {
    width: 100vw;
    height: 45vh;
    background: green;
}

.sun {
    background: yellow;
    border-radius: 100%;
    width: 10%;
    height: auto;
}

@keyframes car-movement {
    from {
        transform: translateX(-15vw);
    }
    to {
        transform: translateX(120vw);
    }
}